body {
  background-color: #929487 !important;
  color: white;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #929487 !important;
}

.sidebar {
  background-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}